#posts__sidebar-container::-webkit-scrollbar {display: none;}

.grow-and-fade {
  animation: grow-and-fade 1s forwards;
  background-color: rgba(0, 0, 0, 0.150);
}
@keyframes grow-and-fade {
  from {
    scale: 0;
  }
  to {
    scale: 150;
    opacity: 0;
  }
}

.markdown * {
  margin: 0 !important;
}
.markdown {
  margin-top: 20px !important;
}